@layer components {
  /* Section Bienvenue (Hero) */
  .bienvenue {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), 25%, rgba(0, 0, 0, 0)), url("../assets/images/heroBienvenue.webp") center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: var(--rythme-espace) var(--rythme-base);
  }

  /* Conteneur principal */
  .bienvenue__contenu {
    padding: var(--rythme-base);
    color: var(--couleur-texte);
    text-align: center;
  }

  /* Section texte bienvenue */
  .bienvenue__texte {
    text-align: center;
    color: var(--couleur-primaire-premier-plan);
    margin-bottom: var(--rythme-espace);
  }

  /* Sous-titre */
  .bienvenue__sous-titre {
    font-size: var(--taille-police-petit);
    margin-bottom: var(--rythme-tres-serre);
    opacity: 0.95;
  }

  /* Titre principal */
  .bienvenue__titre {
    font-size: var(--taille-police-tres-gros);
    font-weight: var(--epaisseur-police-tres-gras);
    color: var(--couleur-primaire-premier-plan);
    margin-bottom: calc(var(--rythme-base) * 3);
    font-family: var(--font-display);
  }
}
