@layer components {
/* -------------------------------------------------------------------------- */
/* LAYER COMPONENTS */
/* -------------------------------------------------------------------------- */
@layer components {
  .btn-primaire {
    @apply inline-block w-full py-3 px-8 text-center font-semibold text-white transition-all duration-300 ease-in-out;
    background-color: var(--couleur-primaire-200);
    border-radius: var(--arrondi-grand);
  }

  .btn-primaire:hover {
    background-color: var(--couleur-primaire-300);
    transform: translateY(-2px);
  }

  .btn-secondaire {
    @apply inline-block w-full py-3 px-8 text-center font-semibold transition-all duration-300 ease-in-out;
    background-color:var(--couleur-primaire-100);
    color: var(--couleur-texte);
    border-radius: var(--arrondi-grand);
  }

  .btn-secondaire:hover {
    background-color: var(--couleur-fond-secondaire);
    transform: translateY(-2px);
  }
}
.bouton__action{
    display: flex;
    flex-direction: column;
    gap: var(--rythme-base);
}
}