@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  /* Typographie */
  --font-display: "Playfair Display", "serif";
  --font-body: "Montserrat", "sans-serif";

  /* Palette de couleurs - Principal */
  --couleur-principal-100: #f5dfe5; /* Rose Pâle */
  --couleur-principal-200: #a8427d; /* Primary Dark */
  --couleur-principal-300: #821250; /* Primary */
  --couleur-principal-premier-plan: #fcfcfd;

  /* Palette de couleurs - Fond */
  --couleur-fond: #f6ebdc;
  --couleur-fond-secondaire: #fcfcfd;

  /* Palette de couleurs - Textes */
  --couleur-texte-premier: #461243;
  --couleur-texte-secondaire: #1f1c1f;

  /* Palette de couleurs - Alertes */
  --couleur-erreur: #a31621;
  --couleur-succes: #2d5016;

  /* Rythmes d'espacement */
  --rythme-tres-serre: 5px;
  --rythme-serre: 10px;
  --rythme-base: 20px;
  --rythme-espace: 40px;
  --rythme-tres-espace: 80px;

  /* Tailles de police  */
  --taille-tres-petit: 0.688rem; /* 11px */
  --taille-petit: 0.813rem; /* 13px */
  --taille-normal: 1rem; /* 16px */
  --taille-moyen: 1.688rem; /* 27px */
  --taille-grand: 2.063rem; /* 33px */
  --taille-gros: 2.438rem; /* 39px */
  --taille-tres-gros: 2.938rem; /* 47px */

  /* Rayons d'arrondi*/
  --arrondi-petit: 4px;
  --arrondi-base: 6px;
  --arrondi-grand: 8px;
  --arrondi-tres-grand: 16px;

  /* Points de rupture */
  --point-rupture-mobile: 576px; /* Téléphones portables (portrait) */
  --point-rupture-tablette: 768px; /* Tablettes */
  --point-rupture-portable: 992px; /* Ordinateurs portables */
  --point-rupture-desktop: 1200px; /* Écrans de grande taille */
}
